body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.heading1{
    font-size: 50px;
}
.heading2{
    font-size: 35px;
}
.heading-color{
    color: chartreuse;
}
section{
    padding-left: 5%;
    margin-bottom: 150px;
}
.twothird{
    display: flex;
}
.top-banner{
    background-image: url(images/backgroundedited.png);
    background-size: 50%;
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding: 2%;
    text-align: justify;
}
.half-width img {
    width: 85%;
}
.Play-as-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(21, 255, 0), rgb(35, 184, 35)) ;
    color: rgb(0, 0, 0);
    padding: 10px 30px;
    border-radius: 10px;
    font-size: larger;
    font-weight: 700;
}
.special-abilities{
    background-image: url(images/second-ring-bg.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right;
    text-align: justify;
}
#middle2{
    padding-top: 60px;
}
.bold{
    font-weight: bold;
}
.boldh1{
    color: darkgreen;
    font-weight: bold;
}
.last-part{
    width: 45%;
    margin-right: 5%;
    padding: 25px;
    text-align: justify;
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgb(134, 133, 133);
    border-left: 10px solid darkgreen;
}
.cernter{
    text-align: center;
}
#lasthl{
    font-weight: 900;
    font-size: 40px;
    text-shadow: 10px 10px 15px rgb(98, 98, 98) ;
    text-align: center;
    color: darkgreen;
    
}